@model IEnumerable<MvcWeb.Models.Banner>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Hielo.cshtml";
}

<!-- Header -->
<header id="header" class="alt">
    <div class="logo"><a href="~/Home/index">李仁敦酒煙斗 <span>Offical Website</span></a></div>
    <a href="#menu">帥炸的頁籤們</a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        @foreach (var item in ViewBag.subBoards)
        {
            <li><a href="~/Home/index">首頁</a></li>
            <li><a href="~/@item.Sub_Link/index">@item.Sub_Name</a></li>
        }
    </ul>
</nav>

<!-- Banner -->
<section class="banner full">
    @foreach (var item in ViewBag.banner)
    {
        @if(@item.bannerIndex>0 && @item.bannerIndex<10)
        {
            <article>
                <img src="~/Uploads/@item.ProfilePicture" alt="" />
                <div class="inner">
                    <header>
                        <p>@item.bannerContentUp</p>
                        <h2>@item.bannerContentDown</h2>
                    </header>
                </div>
            </article>
        }
    }
</section>

<!-- One -->
<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="grid-style">
            @foreach (var item2 in ViewBag.banner)
            {
                @if(@item2.bannerIndex >10 && @item2.bannerIndex<15)
                {
                    <div>
                        <div class="box">
                            <div class="image fit">
                                @*<img src="~/Images/images/pic02.jpg" alt="" />*@
                                <img src="~/Uploads/@item2.ProfilePicture" alt="" />
                            </div>
                            <div class="content">
                                <header class="align-center">
                                    <p>@item2.bannerContentUp</p>
                                    <h2>關於我們</h2>
                                </header>
                                <p>@item2.bannerContentDown</p>
                                <footer class="align-center">
                                    <a href="#" class="button alt">Learn More</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                }
                @if(@item2.bannerIndex >15 && @item2.bannerIndex <20)
                {
                    <div>
                        <div class="box">
                            <div class="image fit">
                                @*<img src="~/Images/images/pic03.jpg" alt="" />*@
                                <img src="~/Uploads/@item2.ProfilePicture" alt="" />
                            </div>
                            <div class="content">
                                <header class="align-center">
                                    <p>@item2.bannerContentUp</p>
                                    <h2>商品陳列</h2>
                                </header>
                                <p>@item2.bannerContentDown</p>
                                <footer class="align-center">
                                    <a href="#" class="button alt">Learn More</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section><!-- Two -->
<section id="two" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <p>你都看到中間頁了，是不是真的覺得阿敦帥到爆</p>
            <h2>我知道你們都是真心的XDDD</h2>
        </header>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper style2">
    <div class="inner">
        <header class="align-center">
            <p class="special">全台最強最猛最讚最優秀最厲害最聰明的團隊</p>
            <h2>團隊成員</h2>
        </header>
        <div class="gallery">
            <div>
                <div class="image fit">
                    <a href="#"><img src="~/Images/images/pic01.jpg" alt="" /></a>
                </div>
            </div>
            <div>
                <div class="image fit">
                    <a href="#"><img src="~/Images/images/pic02.jpg" alt="" /></a>
                </div>
            </div>
            <div>
                <div class="image fit">
                    <a href="#"><img src="~/Images/images/pic03.jpg" alt="" /></a>
                </div>
            </div>
            <div>
                <div class="image fit">
                    <a href="#"><img src="/Images/images/pic04.jpg" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            @*<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>*@
            <li><a href="https://www.facebook.com/lm.composite/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
    </div>
    <div class="copyright">
        Copyright &copy; 李仁敦那誒家煙斗
    </div>
</footer>

<!-- Scripts -->
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/jquery.scrollex.min.js"></script>
<script src="~/assets/js/skel.min.js"></script>
<script src="~/assets/js/util.js"></script>
<script src="~/assets/js/main.js"></script>