@model IEnumerable<MvcWeb.Models.Banner>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/Hielo.cshtml";
}

<!-- Header -->
<header id="header" class="alt">
    <div class="logo"><a href="~/Home/index">有溫度科技<span>Offical Website</span></a></div>
    <a href="#menu"></a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        @foreach (var item in ViewBag.subBoards)
        {
            @*<li><a href="~/Home/index">首頁</a></li>*@
            <li><a href="~/@item.Sub_Link/index">@item.Sub_Name</a></li>
        }
    </ul>
</nav>

<!-- Banner -->
<section class="banner full">
    @foreach (var item in ViewBag.banner)
    {
        @if(@item.bannerIndex>0 && @item.bannerIndex<10)
        {
            <article>
                <img src="~/Uploads/@item.ProfilePicture" alt="" />
                <div class="inner">
                    <header>
                        <p>@item.bannerContentUp</p>
                        <h2>@item.bannerContentDown</h2>
                    </header>
                </div>
            </article>
        }
    }
</section>

<!-- One -->
<section id="one" class="wrapper style2">
    <div class="inner">
        <div class="grid-style">
            @*@foreach (var item2 in ViewBag.banner)*@
            @foreach (var item2 in ViewBag.midpicture_1)
            {

                    <div>
                        <div class="box">
                            <div class="image fit">
                                @*<img src="~/Images/images/pic02.jpg" alt="" />*@
                                <img src="~/Uploads/@item2.ProfilePicture" alt="" />
                            </div>
                            <div class="content">
                                <header class="align-center">
                                    <p>@item2.bannerContentUp</p>
                                    <h2>科技講座</h2>
                                </header>
                                <p>@item2.bannerContentDown</p>
                                <footer class="align-center">
                                    <a href="#" class="button alt">Learn More</a>
                                </footer>
                            </div>
                        </div>
                    </div>
            }
            @foreach (var item2 in ViewBag.midpicture_2)
            {
                    <div>
                        <div class="box">
                            <div class="image fit">
                                @*<img src="~/Images/images/pic03.jpg" alt="" />*@
                                <img src="~/Uploads/@item2.ProfilePicture" alt="" />
                            </div>
                            <div class="content">
                                <header class="align-center">
                                    <p>@item2.bannerContentUp</p>
                                    <h2>商品陳列</h2>
                                </header>
                                <p>@item2.bannerContentDown</p>
                                <footer class="align-center">
                                    <a href="#" class="button alt">Get More</a>
                                </footer>
                            </div>
                        </div>
                    </div>
            }
        </div>
    </div>
</section><!-- Two -->
<section id="two" class="wrapper style3">
    <div class="inner">
        <header class="align-center">
            <p>保持初心，始於社會並終於社會</p>
            <h2>我們提供最人性最有溫度的產品</h2>
        </header>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper style2">
    <div class="inner">
        <header class="align-center">
            <p class="special">熱門文章</p>
            <h2>文章精選</h2>
        </header>
        <div class="gallery">
            <div>
                <div class="image fit">
                    <a href="#"><img src="~/Images/images/pic01.jpg" alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2>123</h2>
                                <P>內文...</P>
                            </header>
                        </div>
                </div>
            </div>
            <div>
                <div class="image fit">
                    <a href="#"><img src="~/Images/images/pic02.jpg" alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2>123</h2>
                                <P>內文...</P>
                            </header>
                        </div>
                </div>
            </div>
            <div>
                <div class="image fit">
                    <a href="#"><img src="~/Images/images/pic03.jpg" alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2>123</h2>
                                <P>內文...</P>
                            </header>
                        </div>
                </div>
            </div>
            <div>
                <div class="image fit">
                    <a href="#"><img src="/Images/images/pic04.jpg" alt="" /></a>
                        <div class="inner">
                            <header>
                                <h2>123</h2>
                                <P>內文...</P>
                            </header>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            @*<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>*@
            <li><a href="https://www.facebook.com/有溫度科技TemperTech-106585560952178" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="https://localhost:5001/Contact/index" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
    </div>
    <div class="copyright">
        {{ message }}<!-- message 接vue.js送來的資料-->
        @*Copyright &copy; 李仁敦那誒家煙斗*@
    </div>
</footer>

<!-- Scripts -->
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/jquery.scrollex.min.js"></script>
<script src="~/assets/js/skel.min.js"></script>
<script src="~/assets/js/util.js"></script>
<script src="~/assets/js/main.js"></script>
<!--使用Vue.js 修改 footer 資料-->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
var footer = new Vue({
  el: '#footer',
  data: {
    message: 'Copyright © ' + new Date().toDateString() + '  Temper Inc. 著作權所有，並保留一切權利。'
  }
})
</script>

