@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

<div class="center">
    <h1>Register</h1>
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="All" ></div>
        <div class="txt_field">
            <input type="text" required asp-for="Input.Email" />
            <span asp-validation-for="Input.Email"></span>
            <label asp-for="Input.Email"></label>
        </div>
        <div class="txt_field">
            <input type="text" required asp-for="Input.Password" />
            <span asp-validation-for="Input.Password" ></span>
            <label asp-for="Input.Password"></label>
        </div>
        <div class="txt_field">
            <input type="text" required asp-for="Input.ConfirmPassword" />
            <span asp-validation-for="Input.ConfirmPassword" ></span>
            <label asp-for="Input.ConfirmPassword"></label>
        </div>
        @*<button type="submit" class="btn btn-primary">Register</button>*@
        <input type="submit" value="Register">
        <!--cancel button-->
        <button class="cancelButton" onclick='goBack()'>Cancel</button>
        <div class="signup_link"></div>
    </form>
</div>
    <!--
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
    -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script type='text/javascript'>
function goBack() {
    window.history.back();
}
</script>
